@charset "utf-8";

html,
body,
header,
footer,
main,
section,
div,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1.75;
    color: #fff;
    font-family: "FOT-筑紫Aオールド明朝 Pr6N L", "A1 Mincho", "游明朝", "YuMincho", "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}