@charset "utf-8";

@font-face {
    font-family: "myfont";
    src: url("../font/gabriola.ttf") format("truetype"); 
    font-display: swap; 
}

/* -------------------index.html-------------------------- */
body {
    background-color: #040505;
    overflow-x: hidden;
}

/* loading */
.loading {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100vh;
}

.loading-bg {
    height: 100%;
    width: 100%;
    background-color: #040505;
    transform: translateY(0);
    animation: slideUp 0.8s ease-out forwards;
    animation-delay: 3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.slideAnimeLeftRight {
    animation-name: slideTextX100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.slide-in {
    overflow: hidden;
    display: inline-block;
}

.leftAnime {
    opacity: 0;
}

@keyframes slideTextX100 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideAnimeRightLeft {
    animation-name: slideTextX-100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideTextX-100 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in_inner {
    font-size: 10vw;
    display: inline-block;
    font-family: "myfont",serif;
}

/* header */
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 2.92%;
    padding-right: 4.39%;
    padding-top: 40px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9997;
}

.header__inner a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav ul {
    display: flex;
    gap: 60px;
}

.header__nav li {
    font-size: 20px;
    font-family: "myfont",serif;
}

.header__nav a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__inner h1 {
    font-size: 30px;
    font-family: "myfont",serif;
}

.catch__copy {
    position: absolute;
    padding-top: 250px;
    padding-left: 150px;
    font-size: 30px;
    line-height: 2.3;
    letter-spacing: 0.4em;
}

.catch__copy span {
    transition: 1s;
    opacity: 0;
    transform: translateY(20px);
    display: block;
}
.catch__copy span:first-child {
    animation: catch_anime 1.4s forwards 3.0s;
}
.catch__copy span:nth-child(2) {
    animation: catch_anime 1.4s forwards 4.0s;
}
.catch__copy span:nth-child(3) {
    animation: catch_anime 1.4s forwards 5.0s;
}
.catch__copy span:nth-child(4) {
    animation: catch_anime 1.4s forwards 6.0s;
}
@keyframes catch_anime {
    0% {
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hamburger, 
.header__nav--sp {
    display: none;
}

/* about */
#about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#about h2 {
    font-size: 60px;
    text-align: center;
    padding: 150px 0 100px 0;
    font-family: "myfont",serif;
}

.about__profile {
    display: flex;
    align-items: center;
}

.profile {
    padding-left: 40px;
    width: 50%;
}

.profile__picture {
    width: 50%;
}

.profile__name {
    padding-bottom: 30px;
    font-size: 18px;
}

.profile__all {
    display: flex;
    align-items: baseline;
}

.profile__name--en {
    font-family: "myfont",serif;
    padding-left: 10px;
}

.profile__text {
    text-align: justify;
}

.view__more {
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    float: right;
    display: flex;
    align-items: center;
}

.view__more p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.view__more img {
    width: 40px;
}

.view__more:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

/* works */
#works {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} 

#works h2 {
    font-size: 60px;
    text-align: center;
    font-family: "myfont",serif;
    padding: 200px 0 100px 0;
}

.works01 {
    display: flex;
}

.works01__sp {
    display: none;
}

.works01__text {
    padding-top: 180px;
}

.works01__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works01__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.arrow__works--left p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.arrow__works--left img {
    width: 40px;
}

.works02 {
    display: flex;
    justify-content: right;
    padding-top: 150px;
}

.works02__text {
    padding-top: 180px;
}

.works02__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works02__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.arrow__works--right p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.arrow__works--right img {
    width: 40px;
}

.arrow__works--right {
    border-bottom: 1px solid #fff;
    float: right;
    display: flex;
    align-items: center;
}

.works01__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.arrow__works--left {
    border-bottom: 1px solid #fff;
    float: left;
    display: flex;
    align-items: center;
}

.works02__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.works03 {
    display: flex;
    padding-top: 150px;
}

.works03__text {
    padding-top: 180px;
}

.works03__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works03__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works03__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    text-align: right;
}

.works03__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.works04 {
    display: flex;
    justify-content: right;
    padding-top: 120px;
}

.works04__text {
    padding-top: 170px;
}

.works04__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works04__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works04__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    float: right;
}

.works04__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.works05 {
    display: flex;
    padding-top: 120px;
}

.works05__text {
    padding-top: 160px;
}

.works05__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works05__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works05__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    text-align: right;
}

.works05__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.works06 {
    display: flex;
    justify-content: right;
    padding-top: 120px;
}

.works06__text {
    padding-top: 170px;
}

.works06__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works06__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works06__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    float: right;
}

.works06__text a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

/* contact */
#contact {
    max-width: 1000px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding-top: 230px;
}

.contact__word {
    font-size: 18px;
    text-align: center;
    padding-top: 100px;
}

form {
    padding: 60px 10px;
    max-width: 900px;
    margin: 0 auto;
}

.c-form__item {
    display: flex;
    padding-bottom: 50px;
}

.c-form__label {
    width: 20%;
}

.c-form__item input {
    width: 80%;
    padding: 20px 0;
}

form input:focus {
    outline: none;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.c-form__item textarea {
    width: 80%;
    height: 8em;
    padding: 30px 0;
}

form textarea:focus {
    outline: none;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.c-form__submit {
    text-align: center;
}

.c-form__submit button {
    padding: 5px 30px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    font-size: 18px;
    font-family: "FOT-筑紫Aオールド明朝 Pr6N L",serif;
}

.c-form__submit button:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

/* footer */
.footer {
    text-align: center;
}

.footer__logo {
    padding-top: 200px;
    border-bottom: 1px solid #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.footer__logo a {
    font-size: 30px;
    font-family: "myfont",serif;
}

.footer__logo a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 20px;
}

.footer ul li {
    font-family: "myfont",serif;
    font-size: 20px;
}

.footer__copyright {
    padding: 60px 0 20px 0;
    font-family: "myfont",serif;
}

.footer a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* backtotop */
.top a {
    border: 1px solid #fff;
    padding: 5px 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-family: "myfont",serif;
    font-size: 18px;
}

.top a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

/* -------------------about.html-------------------------- */
.about__under {
    padding: 0 10px;
}

.about__under img {
    width: 60%;
    display: block;
    padding-top: 200px;
    margin: 0 auto;
}

.about__profile--under {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.about__under--name {
    text-align: center;
    font-size: 18px;
    padding: 50px 0 30px 0;
}

.about__name__en {
    padding-left: 10px;
    font-family: "myfont",serif;
}

.about__under--text {
    line-height: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

/* biography */
.biography h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding: 200px 0 100px 0;
}

.biography__item {
    width: 360px;
}

.biography__list {
    display: table-cell;
}

.biography__time {
    padding-bottom: 10px;
    padding-left: 25px;
}

.biography__title {
    padding-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.biography__title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 35px;
    height: 50px;
    width: 1px;
    background-color: #fff;
}

.biography__text {
    padding: 0 25px;
}

.biography__line {
    padding-right: 25px;
}

.biography__line::after {
    display: block;
    content: "";
    width: 360px;
    height: 1px;
    background-color: #fff;
}

/* 横スクロール */
.scroll_container {
    height: 500px;
    padding: 0 20% !important;
}

.sticky_wrap {
    position: relative;
    width: 100%;
    height: 700px;
}

.horizontal_scroll {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
}

/* skill */
.skill h2 {
    font-size: 60px;
    padding: 350px 0 100px 0;
    text-align: center;
    font-family: "myfont",serif;
}

.skill__all {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.skill__title {
    font-size: 40px;
    font-family: "myfont",serif;
}

.skill__design {
    padding-right: 50px;
}

.skill__design img {
    padding-bottom: 50px;
}

.skill__coding {
    padding-left: 50px;
}

.skill__coding img {
    padding-bottom: 50px;
}

/* interest */
.interest h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding: 200px 0 100px 0;
}

.interest {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.interest__title {
    font-size: 25px;
    border-bottom: 1px solid #fff;
}

.interest__text {
    padding-top: 20px;
}

.interest__list {
    padding-bottom: 50px;
}

/* -----------------------contact.html-------------------------- */
.contact {
    font-size: 40px;
    padding-top: 300px;
    text-align: center;
}

.contact__text {
    line-height: 2.5;
    max-width: 510px;
    margin: 0 auto;
    text-align: justify;
}

/* -------------------works.html-------------------------- */
/* worksbanner */
.works__main {
    max-width: 1000px;
    margin: 0 auto;
}

.works__main .works__img--banner {
    width: 80%;
}

.works__under {
    display: flex;
    padding: 150px 10px;
}

.works__under--sp {
    width: 50%;
}

.works__img {
    display: block;
    width: 360px;
    margin: 0 auto;
    padding-top: 250px;
}

.works__under--text {
    display: flex;
}

.works__under--banner {
    font-size: 25px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works__under--title {
    font-size: 35px;
}

.under__text1 {
    width: 20%;
    line-height: 2.2;
    word-break: keep-all;
}

.under__text2 {
    width: 80%;
    text-align: justify;
    line-height: 2.2;
}

.under__text3 {
    width: 20%;
    padding-top: 40px;
    line-height: 2.2;
    word-break: keep-all;
}

.under__text4 {
    width: 80%;
    text-align: justify;
    padding-top: 40px;
    line-height: 2.2;
}

.works__img--banner {
    margin: 0 auto;
    display: block;
} 

.img-wrap {
    opacity: 0;
}

.img-animation {
    animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    overflow: hidden;
    position: relative;
}

.img-animation::before {
    animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: #040505;
    content: '';
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

@keyframes img-opacity {
    100% {
        opacity: 1;
    }
}

@keyframes img-animation {
    100% {
        transform: translateX(100%);
    }
}

.other__works {
    margin-top: 100px;
    border-bottom: 1px solid #fff;
    float: right;
    align-items: center;
    display: flex;
    margin-right: 10px;
}

.works__spver {
    display: none;
}

.other__works:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
}

.other__works p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.other__works img {
    width: 40px;
}

.img__burger {
    width: 665px;
    padding-top: 250px;
    display: block;
    margin: 0 auto;
}

.works__img--burger {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img__luxury {
    width: 45%;
    padding: 0 10px;
}

.img__pop {
    width: 45%;
    padding: 0 10px;
}

.works__under--img {
    width: 60%;
    padding-top: 250px;
    display: block;
    margin: 0 auto;
}

.works4__img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.works__web--pc {
    width: 60%;
    padding: 0 10px;
}

.works__web--sp {
    width: 30%;
    padding: 0 10px;
}

.works__web5--pc {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.modal {
    display: none;
}

@media screen and (max-width:1100px) {
    .catch__copy {
        font-size: 20px;
    }
} 

@media screen and (max-width:767px) {
    /* -------------------index.html-------------------------- */
    .header__nav {
        display: none;
    }
    .header__inner {
        padding-top: 20px;
        z-index: 9999;
    }
    .header__inner a {
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .header__inner h1 {
        font-size: 22px;
    }
    #header p {
        writing-mode: vertical-rl;
        font-size: 16px;
        line-height: 2.5;
        padding-top: 300px;
        padding-left: 50px;
    }
    .hamburger {
        display: block;
        width: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
    }
    .hamburger__menu {
        position: fixed;
        font-size: 18px;
        font-family: "myfont",serif;
        text-align: center;
        top: 30px;
    }
    .hamburger span {
        position: fixed;
        content: "";
        width: 50px;
        height: 1px;
        top: 20px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    }
    .hamburger span::before {
        position: fixed;
        content: "";
        width: 50px;
        height: 1px;
        top: 45px;
        right: 20px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    }
    .hamburger__close {
        display: none;
    }
    .open .hamburger__close {
        display: block;
        position: fixed;
        font-size: 18px;
        font-family: "myfont",serif;
        text-align: center;
    }
    .open .hamburger__menu {
        display: none;
    }
    .header__nav--sp {
        position: fixed;
        z-index: 9998;
        width: 100%;
        height: 100vh;
        background-color: #000000f1;
    }
    .header__nav--sp ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .header__nav--sp li {
        line-height: 4;
        font-size: 25px;
        font-family: "myfont",serif;
    }
    .header__nav--sp a {
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* about */
    #about h2 {
        padding-bottom: 50px;
        font-size: 40px;
    }
    .profile {
        width: 80%;
        padding-left: 0;
        margin: 0 auto;
    }
    .profile__name {
        padding-bottom: 20px;
    }
    .about__profile {
        flex-direction: column;
    }
    .profile__picture {
        width: 80%;
    }
    .profile__picture img {
        display: block;
        margin: 0 auto;
    }
    .profile__text {
        font-size: 14px;
    }
    .profile__all {
        padding-top: 30px;
    }
    .view__more {
        padding-top: 50px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid;
        border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
    }
    .view__more p {
        font-size: 18px;
    }
    .view__more img {
        width: 20px;
    }

    /* works */
    #works h2 {
        padding: 200px 0 0 0;
        font-size: 40px;
    }
    .works01 {
        display: none;
    }
    .works01__sp {
        display: block;
        padding-top: 100px;
    }
    .works01__picture {
        width: 40%;
        margin: 0 auto;
    }
    .works02__picture {
        width: 50%;
        margin: 0 auto;
    }
    .works03__picture {
        width: 60%;
        margin: 0 auto;
    }
    .works01__title {
        font-size: 18px;
        display: table;
        margin: 0 auto;
        padding-top: 10px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .works02 {
        display: none;
    }
    .works03 {
        display: none;
    }
    .works04 {
        display: none;
    }
    .works05 {
        display: none;
    }
    .works06 {
        display: none;
    }

    /* contact */
    form {
        width: 80%;
    }
    #contact h2 {
        font-size: 40px;
        padding-top: 120px;
    }
    .contact__word {
        padding-top: 50px;
        font-size: 14px;
        word-break: keep-all;
    }
    .c-form__item {
        flex-direction: column;
    }
    .c-form__item input {
        width: 100%;
    }
    .c-form__item textarea {
        width: 100%;
    }
    .c-form__submit button {
        padding: 5px 60px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 2px solid;
        border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
    }

    /* footer */
    .footer {
        width: 80%;
        margin: 0 auto;
    }
    .footer__logo a {
        font-size: 18px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .footer ul {
        display: none;
    }
    .footer__copyright {
        font-size: 13px;
        padding: 10px 0 60px 0;
    }
    .top a {
        padding: 5px 10px;
        right: 10px;
        bottom: 10px;
        border: 1px solid;
        border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
    }

    /* -------------------about.html-------------------------- */
    .about__under--all {
        max-width: 80%;
        margin: 0 auto;
    }
    .about__profile--under {
        justify-content: flex-start;
    }
    .about__under--text {
        font-size: 14px;
    }
    .about__under img {
        width: 80%;
    }

    /* .biography */
    .biography h2 {
        font-size: 40px;
    }
    .biography__text {
        font-size: 14px;
    }

    /* skill */
    .skill {
        width: 80%;
        margin: 0 auto;
    }
    .skill h2 {
        font-size: 40px;
    }
    .skill__all {
        flex-direction: column;
        padding: 0 30px;
    }
    .skill__title {
        font-size: 30px;
    }
    .skill__text {
        font-size: 14px;
        padding-bottom: 80px;
    }
    .skill__design {
        padding-right: 0;
    }
    .skill__coding {
        padding-left: 0;
    }

    /* interest */
    .interest {
        width: 80%;
    }
    .interest h2 {
        font-size: 40px;
        padding-top: 120px;
    }
    .interest__title {
        font-size: 16px;
        text-align: center;
    }
    .interest__text {
        font-size: 13px
    }

    /* -------------------contact.html-------------------------- */
    /* contact */
    .contact {
        font-size: 16px;
        line-height: 4.3;
        padding-top: 200px;
    }
    .contact__text {
        font-size: 13px;
        line-height: 2.3;
        width: 80%;
    }

    /* -------------------works.html-------------------------- */
    /* works */
    .works__img {
        width: 40%;
        padding-top: 200px;
    }
    .img__burger {
        width: 60%;
        padding-top: 200px;
    }
    .works__spver {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .works__under {
        display: none;
    }
    .works__banner--spver {
        font-size: 13px;
        font-family: "myfont",serif;
        line-height: 1;
        padding-top: 50px;
    }
    .works__title--spver {
        padding-bottom: 30px;
    }
    .under__text1--spver {
        font-size: 13px;
        width: 20%;
        line-height: 1.92;
        word-break: keep-all;
    }
    .under__text2--spver {
        font-size: 13px;
        width: 80%;
        line-height: 1.92;
    }
    .under__text3--spver {
        font-size: 13px;
        width: 20%;
        word-break: keep-all;
        line-height: 1.92;
    }
    .under__text4--spver {
        font-size: 13px;
        width: 80%;
        line-height: 1.92;
        text-align: justify;
    }
    .works__text--spver {
        display: flex;
    }
    .works__border {
        display: block;
        content: "";
        height: 1px;
        background-color: #fff;
        margin: 30px 0;
    }
    .works__img--banner {
        display: none;
    }
    .full__screen {
        font-family: "myfont",serif;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .modal__open {
        text-align: center;
        display: block;
        font-size: 14px;
        border: 1px solid #fff;
        padding: 5px 30px;
    }
    .other__works {
        display: none;
    }
    .modal {
        display: block;
        text-align: center;
    }
    .modal a {
        font-size: 14px;
        border: 1px solid #fff;
        padding: 5px 30px;
        margin: 0 9px;
        background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-image: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%)1;
    }
    .lb-data .lb-number {
        display: none !important;
    }
    .works__img--burger {
        display: none;
    }
    .works__under--img {
        padding-top: 200px;
    }
    .works4__img {
        display: none;
    }
    .works__web5--pc {
        display: none;
    }
}