@charset "utf-8";

@font-face {
    font-family: "myfont";
    src: url("../font/gabriola.ttf") format("truetype"); 
    font-display: swap; 
}

/* -------------------index.html-------------------------- */
body {
    background-color: #040505;
}

/* header */
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 2.92%;
    padding-right: 4.39%;
    padding-top: 40px;
    align-items: center;
    position: absolute;
    width: 100%;
}

.header__nav ul {
    display: flex;
    gap: 60px;
}

.header__nav li {
    font-size: 20px;
    font-family: "myfont",serif;
}

.header__nav li:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__inner h1 {
    font-size: 30px;
    font-family: "myfont",serif;
}

#header p {
    position: absolute;
    padding-top: 250px;
    padding-left: 180px;
    font-size: 30px;
    line-height: 2.3;
    letter-spacing: 0.4em;
}

/* about */
#about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#about h2 {
    font-size: 60px;
    text-align: center;
    padding: 200px 0 100px 0;
    font-family: "myfont",serif;
}

.about__profile {
    display: flex;
}

.profile__picture img {
    width: 465px;
}

.profile {
    padding-left: 40px;
    padding-top: 45px;
}

.profile__name {
    padding-bottom: 30px;
    font-size: 18px;
}

.profile__text {
    text-align: justify;
}

.view__more {
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    float: right;
    display: flex;
    align-items: center;
}

.view__more p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.view__more img {
    width: 40px;
}

.view__more:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* works */
#works {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} 

#works h2 {
    font-size: 60px;
    text-align: center;
    font-family: "myfont",serif;
    padding: 200px 0 100px 0;
}

.works01 {
    display: flex;
}

.works01__text {
    padding-top: 180px;
}

.works01__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works01__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.arrow__works--left p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.arrow__works--left img {
    width: 40px;
}

.works02 {
    display: flex;
    justify-content: right;
    padding-top: 150px;
}

.works02__text {
    padding-top: 180px;
}

.works02__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works02__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.arrow__works--right p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.arrow__works--right img {
    width: 40px;
}

.arrow__works--right {
    border-bottom: 1px solid #fff;
    float: right;
    display: flex;
    align-items: center;
}

.arrow__works--right:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow__works--left {
    border-bottom: 1px solid #fff;
    float: left;
    display: flex;
    align-items: center;
}

.arrow__works--left:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.works03 {
    display: flex;
    padding-top: 150px;
}

.works03__text {
    padding-top: 180px;
}

.works03__banner {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works03__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works03__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    text-align: right;
}

.works04 {
    display: flex;
    justify-content: right;
    padding-top: 120px;
}

.works04__text {
    padding-top: 170px;
}

.works04__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works04__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works04__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    float: right;
}

.works05 {
    display: flex;
    padding-top: 120px;
}

.works05__text {
    padding-top: 160px;
}

.works05__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works05__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works05__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    text-align: right;
}

.works06 {
    display: flex;
    justify-content: right;
    padding-top: 120px;
}

.works06__text {
    padding-top: 170px;
}

.works06__website {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 1;
    text-align: right;
}

.works06__title {
    font-size: 25px;
    padding-bottom: 10px;
}

.works06__view {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
    border-bottom: 1px solid #fff;
    width: 100px;
    float: right;
}

/* contact */
#contact {
    max-width: 1000px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding-top: 230px;
}

.contact__word {
    font-size: 18px;
    text-align: center;
    padding-top: 100px;
}

form {
    padding: 60px 0;
    max-width: 900px;
    margin: 0 auto;
}

form p {
    font-size: 18px;
    font-family: "myfont",serif;
}

.contact__name {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contact__mailadress {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contact__message {
    display: flex;
    justify-content: center;
}

.contact__name p {
    width: 20%;
}

.contact__mailadress p {
    width: 20%;
}

.contact__message p {
    width: 20%;
}

form input {
    width: 80%;
    padding: 20px 0;
}

form textarea {
    width: 80%;
    height: 8em;
    padding: 30px 0;
}

.contact__send {
    text-align: center;
}

.contact__send input {
    padding: 5px 30px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    font-size: 18px;
    font-family: "FOT-筑紫Aオールド明朝 Pr6N L",serif;
}

/* footer */
.footer {
    text-align: center;
}

.footer__logo {
    padding-top: 200px;
    border-bottom: 1px solid #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.footer__logo a {
    font-size: 30px;
    font-family: "myfont",serif;
}

.footer__logo a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 20px;
}

.footer ul li {
    font-family: "myfont",serif;
    font-size: 20px;
}

.footer__copyright {
    padding: 60px 0 20px 0;
    font-family: "myfont",serif;
}

/* backtotop */
.top a {
    border: 1px solid #fff;
    padding: 5px 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-family: "myfont",serif;
}

.top a:hover {
    background: rgb(203,155,116);
    background: linear-gradient(90deg, rgba(203,155,116,1) 0%, rgba(255,255,255,1) 25%, rgba(203,155,116,1) 50%, rgba(255,255,255,1) 75%, rgba(203,155,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------------about.html-------------------------- */
.about__under {
    padding: 0 10px;
}

.about__under img {
    width: 570px;
    display: block;
    padding-top: 200px;
    margin: 0 auto;
}

.about__under--name {
    text-align: center;
    font-size: 18px;
    padding: 50px 0 30px 0;
}

.about__under--text {
    line-height: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

/* biography */
.biography h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding: 200px 0 100px 0;
}

.biography__item {
    width: 300px;
}

.biography__list {
    display: table-cell;
    padding: 0 30px;
}

.biography__time {
    padding-bottom: 10px;
}

.biography__title {
    padding-bottom: 30px;
}

.biography__text {
    padding-top: 30px;
}

.biography__line::after {
    display: block;
    content: "";
    width: 360px;
    height: 1px;
    background-color: #fff;
}

/* skill */
.skill h2 {
    font-size: 60px;
    padding: 200px 0 100px 0;
    text-align: center;
    font-family: "myfont",serif;
}

.skill__all {
    display: flex;
    justify-content: center;
}

.skill__title {
    font-size: 40px;
    font-family: "myfont",serif;
}

.skill__design {
    padding-right: 50px;
}

.skill__design img {
    width: 400px;
    padding-bottom: 50px;
}

.skill__coding {
    padding-left: 50px;
}

.skill__coding img {
    width: 400px;
    padding-bottom: 50px;
}

/* interest */
.interest h2 {
    font-size: 60px;
    font-family: "myfont",serif;
    text-align: center;
    padding: 200px 0 100px 0;
}

.interest {
    max-width: 1000px;
    margin: 0 auto;
}

.interest__title {
    font-size: 25px;
    border-bottom: 1px solid #fff;
}

.interest__text {
    padding-top: 20px;
}

.interest__list {
    padding-bottom: 50px;
}

/* -----------------------contact.html-------------------------- */
.contact {
    font-size: 40px;
    padding-top: 300px;
    text-align: center;
}

.contact__text {
    line-height: 2.5;
    max-width: 510px;
    margin: 0 auto;
    text-align: justify;
}

/* -------------------works.html-------------------------- */
/* worksbanner */
.works__under {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
}

.works__under--sp {
    width: 50%;
}

.works__img {
    display: block;
    width: 360px;
    margin: 0 auto;
    padding-top: 250px;
}

.works__under--text {
    display: flex;
}

.works__under--banner {
    font-size: 25px;
    font-family: "myfont",serif;
    line-height: 1;
}

.works__under--title {
    font-size: 35px;
}

.under__text1 {
    width: 20%;
    line-height: 2.2;
}

.under__text2 {
    width: 80%;
    text-align: justify;
    line-height: 2.2;
}

.under__text3 {
    width: 20%;
    padding-top: 40px;
    line-height: 2.2;
}

.under__text4 {
    width: 80%;
    text-align: justify;
    padding-top: 40px;
    line-height: 2.2;
}

.works__img--banner {
    width: 800px;
    margin: 0 auto;
    display: block;
    padding-top: 150px;
}

.other__works {
    padding-top: 100px;
    border-bottom: 1px solid #fff;
    float: right;
    align-items: center;
    display: flex;
}

.other__works p {
    font-size: 20px;
    font-family: "myfont",serif;
    line-height: 2;
}

.other__works img {
    width: 40px;
}

.img__burger {
    width: 665px;
    padding-top: 250px;
    display: block;
    margin: 0 auto;
}

.works__img--burger {
    display: flex;
    align-items: flex-end;
    padding-top: 150px;
    justify-content: center;
}

.img__luxury {
    width: 450px;
    padding: 0 10px;
}

.img__pop {
    width: 450px;
    padding: 0 10px;
}

.works__under--img {
    width: 855px;
    padding-top: 250px;
    display: block;
    margin: 0 auto;
}

.works4__img {
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
    justify-content: center;
}

.works__web--pc {
    width: 600px;
    padding: 0 10px;
}

.works__web--sp {
    width: 300px;
    padding: 0 10px;
}

.works__web5--pc {
    width: 800px;
    display: block;
    margin: 0 auto;
    padding-top: 150px;
}